header{
    .carousel-img-one{
        background-image: url("../img/nissan-skyline-3546824_1920.jpg");
    }

    .carousel-img-two{
        background-image: url("../img/car-1081742_1920.jpg");
    }

    .carousel-img-three{
        background-image: url("../img/nurburgring-4122443_1920.jpg");
    }
}


.home-passion{
    background-image: url("../img/sunset-685927_1920.jpg");
}