
.about-info{
    .text-box-left{
        padding-right: 3rem;
    }

    .text-box-right{
        padding-left: 3rem;
    }
}

.about-box-image{

    .about-engine-img{
        padding: 0 2rem;
    }
}

.top-bodyshop{
    background-position: -100px -100px;

}